@import "../../style/variables/variables.scss";

.landingContainer {
  @include customContainer(90%, 95%,space-between);
  color: $whiteColor;
  @include custom-scrollbar($blueColor, $lightBlueColor);

  .landingLogo{
    width: 10%;
    margin-bottom: 25px;
  }

  .landingGenerate{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      text-align: center;
      font-size: 1.6rem;
      color: $orangeColor;
      margin-bottom: 10px
    }
    .landingInputGenerate{
      margin: 30px 0;
      @extend %perfectCenter;
      width: 100%;
      input{
        font-size: 1.4rem;
        padding-left: 20px;
        height: 60px;
        width: 75%;
        border: 3px solid $pinkColor;
        border-radius: 10px;
        background-color: $lightPinkColor;
        color: $whiteColor;
      }
      input::placeholder {
        color: $whiteColor;
        font-size: 1.4rem;
      }
      .landingGenerateButton{
        @extend %perfectCenter;
        color: $whiteColor;
        font-size: 1.4rem;
        width: 25%;
        height: 100%;
        background-color: $pinkColor;
        margin-left: -20px;
        border-radius:  0 10px 10px 0;
      }
    }
    .animatedText{
        margin: 30px 0;
        position: relative;
        font-size: 1.5rem;
      p{
        color: $orangeColor;
      }
      span{
        width: 180%;
        position: absolute;
        top: 2rem;
        left: 0;
      }
    }
}
  
  .top5Container{
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin: 30px 0;
    img{
      width: 70px;
    }
    h2{
    font-size: 28px;
  }
  }

  .landingList{
    text-align: center;
    width: 80%;
    ul {
      padding-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;
      a{
          overflow-wrap: break-word;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 250px;
          width: 210px;
          text-align: center;
          background-color: $lightBlueColor;
          padding: 15px;
          border-radius: 10px;
          border: 2px solid $blueColor;
          h3{
            color: $orangeColor;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 2rem;
          }
          p {
            font-size: 1rem;
            color: $greenColor;
            img{
              vertical-align: middle;
            }
          }
          p:nth-child(3) {
            color: $redColor;
          }
          .landingAuthorContainer{
            p{
              color: $whiteColor;
            }
            img{
              margin-top: 15px;
              width: 50px;
              height: 50px;
            }
          }
       }
      a:hover{
        scale: 1.02;
      }
  }
}
}

@media screen and (max-width: $mediaTablet) {

  .landingContainer {
    .landingLogo{
      padding-top: 30px;
    }
    .landingGenerate{
      margin: 40px 0;
      h1{
        font-size: 1rem;
      }
    }

    .top5Container{
      display: flex;
      align-items: center;
      column-gap: 20px;
      img{
        width: 45px;
      }
      h2{
      font-size: 22px;
    }
    }
  }
}

@media screen and (max-width: $mediaMobile) {

  .landingContainer {
    width: 90%;
    height: 95%;
    .landingLogo{
      margin-top: 15px;
      width: 28%;
    }
    .landingGenerate{
      margin: 20px 0;
      h1{
        padding-top: 5px;
        font-size: 0.8rem;
      }
      .landingInputGenerate{
        width: 100%;
        display: flex;
        flex-direction: column;
        input{
          height: 40px;
          margin-bottom: 20px;
          font-size: 0.7rem;
        }
        input::placeholder {
          font-size: 0.7rem;
          text-align: left;
        }
        .landingGenerateButton{
          @extend %perfectCenter;
          width: 80%;
          height: 40px;
          padding: 5px;
          margin-left: 0px;
          margin-top: 5px;
          border-radius: 10px;
          font-size: 1rem;
        }
      }
      .animatedText{
        width: 100%;
        position: relative;
      p{
        font-size: 0.8rem;
        color: $orangeColor;
      }
      span{
        font-size: 0.8rem;
        width: 130%;
        position: absolute;
        left: 0; /* Fixe le texte à gauche */
      }
    }
    }

    .top5Container{
      column-gap: 10px;
      img{
        width: 30px;
      }
      h2{
      font-size: 16px;
    }
  }
    
    .landingList{
      ul {
        .landingDetails{
            .landingAuthorContainer{
              img{
                width: 30px;
                height: 30px;
              }
            }
         }
    }
  }
  }
}




