@import "../../../style//variables/variables.scss";

.adminUserContainer{
  width: 90%;
  @extend %adminArray;
  
  th:first-child, td:first-child {
      width: 10%;
  }
  th:nth-child(2), td:nth-child(2) {
      width: 15%;
  }
  th:nth-child(3), td:nth-child(3) {
      width: 10%;
  }
}
